
*{

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    
    
    font-family: 'Poppins', sans-serif;

}

.nav_title a{

color:rgb(255, 11, 11);

}

.navigationsub{


    padding-bottom: 8%;
    font-weight: 500;
    opacity: 70%;
}



.parents {

    
    height: 100vh;
    background-color: #ffffff;
    padding: 2%;
    position: fixed;
    border: 1px black solid;
}



.navlinks {

    width: 250px;
    height: 50px;
    display: flex;
    cursor: pointer;
    padding: 5% 0% 5% 5%;
    align-items: center;
    margin-bottom: 3%;
    color: #565360;
      border-radius: 0.5rem;
   transition: background-color 0.3s ease;
}

.nav_icon img{

    opacity: 70%;
}





.navlinks .nav_icon img {
  
    transition: opacity 0.3s ease;
}

.navlinks.active .nav_icon img {
    opacity: 100%; 
}

.navlinks.active .nav_icon img {
    filter: invert(100);
    opacity: 100%; 
}

.navlinks.active {

    color: #ffffff;
    border-radius: 8rem;
    background-color: #9E0505;

}



.nav_title{
  color: #565360;
    padding-bottom: 2%;

}



.nav_icon {

    margin-right: 5%;
    object-fit: cover;

}

.navlinks_add {

    cursor: pointer;
    padding: 5% 0% 5% 5%;
    margin-bottom: 5%;
   
    border-radius: 10px;

}

.navlinks_upd {

    cursor: pointer;
    padding: 5% 0% 5% 5%;
       margin-bottom: 5%;
   
    border-radius: 10px;
    
}

.navlinks_del {

    cursor: pointer;
    padding: 5% 0% 5% 5%;
       margin-bottom: 5%;
  
    border-radius: 10px;
  
}

.logo h1{

    font-size: 23px;
    cursor: pointer;
    
}

.logo{
    cursor: pointer;
    height: 120px;
    display: flex; 

    align-items: center;
}



a{

    text-decoration: none;
    
}

.div{


    width: 50px;
    height: 450px;

}

.logout{

   
    cursor: pointer;
  
    background: #ff7b8f;
    height: 50px;
    padding-top: 5%;
    border-radius: 10px;
    padding: 5%;
    width: 100%;
    color: #000;
    align-items: center;
     align-self:  last baseline; 
 
}

.logout_text{

   margin-top: 5px;
   margin-right: 5%;
   
   
}

.logout_text a {

    color: black;
}

.logout-parent{


    height: 30%;
     display: flex; 
     

}
.logout_icon {

  
    width: 30px;
    height: 30px;
    background-image: url('../img/logout_icon.png');
    background-position: center;
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}


.dashbord_menu{


    display: flex;
}

.customize{


    display: flex;
    margin-top: 15%;
    margin-bottom: 10%;
  
}


.logo img{

    width: 150px;
    height: 100px;
    object-fit: contain;
}
/* .logo img{
    width: 50%;
    height: 100px;
    object-fit: cover;
} */