*{


margin: 0%;
padding: 0%;
box-sizing: border-box;


}


.menu-item{


    width: 280px;
    height: 300px;
   
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 1%;
    cursor: pointer;

}

.card-img img{ 


    width: 100%;
    object-fit: cover;
    height: 200px;
    background-color: azure;
}

.display-order-container{

    display: flex;

}

.left-order{

    width: 100%;
    height: 90vh;
 
    
}

.right-order{


    width: 5%;
    
}

.menu-items-container{
    height: 680px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
    margin-top: 1%;

    border-radius: 10px;
    background-color: #ffffff;

}


.menu-items-left-container{

    width: 460PX;
    height: 90vh;
    border-radius: 10px;
    padding: 20px;

    background-color: #FFFFFF;
}



.menu-items-details{


    height: 500px;
    overflow-y: auto;
    margin: 2%;
    margin-bottom: 5%;
}


.menu-items-details::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}
.card-body{


    width: 300PX;
}

.order-container{


    padding: 3%;
}


.order-summary h1{


     font-size: 24px;
     font-weight: 500;
     padding-bottom: 5%;
}


.card-img-invoice{

       width: 40%;
}

.card-img-invoice img{

    width: 100%;
    object-fit: cover;
    height: 100px;
    border-radius: 5px;
    background-color: azure;

}



.card-body-invoice{

    display: flex;
    margin: 3%;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.1);


}

.card-invoice{

    margin-left: 4%;
    width: 100%;
}

.card-invoice h1{

    font-size: 16px;
}

.card-text-subtotal{

    display: flex;
    justify-content: flex-end;
}

.front-desk-parent{


    background-color: #f5f5f7;
}

.payment-summary{


    width: 100%;
    padding: 3%;
    border-radius: 10px;
    background-color: #f5f5f7;
    height: 230px;
}

.payment-summary h1{

    font-size: 18px;
    font-weight: 500;

}

.subtotal-payment{
    padding: 4%;
    display: flex;
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: 500;
    opacity: 75%;
    justify-content: space-between;
}

.PlaceOrder{

    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    background-color: #9E0505;
    cursor: pointer;
}
.shanghai {

    display: flex;
    justify-content: space-between;
}

.card-remove img{ 

    cursor: pointer;
}


.category-clickable{

    width: 98%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    border-radius: 10px;
    background-color: #FFFFFF;

}

.cat-menu{

    width: 180px;
    height: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
      margin: 1%;
    background-color: #ffffff;
    border-radius: 10px;
     border: 1px solid rgba(145, 11, 11, 0.2)
}


.category-image{


 
}
.category-image img{

     width: 50%;
    object-fit: contain;
    height: 80px;
}

.select-category ,.your-menu{
    width: 100%;
   
}

.card-body h{

font-size: 16px;
font-weight: 500;
opacity: 70%;


}

.card-body p{

font-size: 20px;
font-weight: 600;
padding-top: 10%;


}

.numberofitems{


    font-size: 14px;
    opacity: 75%;
}

.order-summary-header{

    display: flex;
    justify-content: space-between;
    align-items: center;
}



.order-card{
    width: 50%;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 5px;
    background-color: white;
       border: 1px solid rgba(145, 11, 11, 0.2)
       
}

.order-amount-header{
    width: 100%;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
}
.order-date p{

    font-weight: 500;
}




.order-details{

    margin-bottom: 3%;
}

.order-left{
    width: 50%;
   
}

.order-id{

    font-weight: 500;
}

.view_btn{

    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #9E0505;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.receipt{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0 ,0.2);
    border-radius: 5PX;

    width: 50%;
    padding: 1%;
   
   
}

.billedto{

    margin-bottom: 1%;
    border-bottom: 1px solid black;
    
}

.order-receipt-header h{

    font-size: 24px;

}

 .menu-name-column {
    
        width: 300px; /* Adjust the width as needed */
    }

 .menu-price-column {
        width: 200px; /* Adjust the width as needed */
    }

 .menu-QTY-column {
        width: 100px; /* Adjust the width as needed */
    }


    .two-div-receipt{

        display: flex;
        align-items: center;
        width: 100%;    
        height: 150px;
  
    }


    .left-receipt-coloumn{

        width: 50%;
    }
    .sub p{
        font-weight: 500;
    }

    .subtotal-price{

        display: flex;
        justify-content: space-between;
    }

    .received-btn{

        width: 200px;
        height: 40px;
        border:  none;
        border-radius: 5px;
        background-color: #9E0505;
        color: #ffffff;
        cursor: pointer;
    }